*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;

}

html,body{
    height: 100%;
    background: #81cbfd;
}

section.feed-main{
    height: 100%;
    display: flex;
}

.sidebar{
    width: 347px;
    background: #f8c1ed;
    padding: 20px 50px;
}

.sidebar .sidebar-logo img{
    max-width: 150px;
}

.sidebar-menu{
    display: inline-block;
    text-align: left;
}

.sidebar-menu h4{
    color:black;
}

.sidebar-menu a{
    display: block;
    margin-bottom: 15px;
    color:black;
    text-decoration: none;
}

.sidebar-menu a:hover{
    font-weight: bold;
    color:black;
}
.feed{
    overflow-y: auto;
    display:flex;
    flex-wrap: wrap;
    padding: 30px;
    width: calc(100% - 347px);
}
.feed-wraper{
	width:70%;
	padding:30px;
}
.feed-post{
    padding: 30px 40px;
    border-radius: 20px;
    background-color: white;
    border-radius:10px;
    margin-bottom: 20px;
}

.feed-post-autor-texto-do-post{
    margin: 10px 0;
}

.feed-post-autor-texto-do-post p{
    color: black;
    font-size:15px;
}

.feed-post-autor-texto-do-post img{
    max-width: 100%;
	margin:20px 0;
}
.solicitacoes-de-amizade{
    width: 28%;
    margin-left: 2%;
    margin-top: 30px;
    background-color: white;
    padding: 30px;
    color:#454545;
    border-radius:10px;
}
.solicitacoes-de-amizade h2{
    text-align: center;
}
.solicitacoes-de-amizade-disponiveis{
    display: flex;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.solicitacoes-de-amizade-disponiveis img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.solicitacoes-de-amizade-disponiveis-informacoes {
    padding: 4px 10px;
}

.solicitacoes-de-amizade-disponiveis-informacoes a{
    font-size: 13px;
    color: #81cbfd;
}
.solicitacoes-de-amizade-disponiveis-informacoes h3{
    font-size: 15px;
    color:#454545;

}

.feed-post-autor{
    display: flex;
    color:#454545;
}
.feed-post-autor img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.feed-post-autor-foto{
    padding: 0 10px;
}

.feed-post-autor h3{
    font-size: 17px;
    width: 100%;
}

.feed-post-autor p{
    font-size: 14px;
    opacity: 0.4;
    margin-top: 3px;
}