*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;

}


html,body{
    background-color:white;
    height: 100%;
    background-image: url("http://localhost/cosplay/api/RedeSocialCosplay/Views/pages/images/teste.jpg");
    background-position: 100px;
    
    background-origin: initial;
    background-size: contain;
    background-repeat: no-repeat;
}

.sidebar{
    width: 0%;
    height: 100%;
    background-color:#a39ddf;    
}
.form-container-login{
    transform: translate(89%,-80%);
    left: 50%;
    top: 50%;
    max-width: 2000px;
    position: absolute;
    border: 10px solid BLACK;
    
}
.form-container-login{
    display: flex;
}

.logo-do-login img{
    max-width: 50%;
}
.form-login{
    width: 100%;
    padding: 30px;
    max-width:450px;
    text-align: center;
    background-color:#81cbfd;
}

.form-login form input[type=text],
.form-login form input[type=password]
{
    width: 100%;
    height: 30px;
    padding-left: 10px;
    background: #81cbfd;
    box-shadow: 0px 3px 1px #d3d8e067;
    border: 1px solid #EBEBEB;
    margin: 10px 0;
}
.form-login input[type=submit]{
    width: 100%;
    height: 40px;
    color: white;
    cursor: pointer;
    background: #f8c1ed 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 1px #fcf1fa;
    border-radius: 10px;
    padding: 6px ;
}
input::placeholder{
    color: white;
}

.form-login a{
    border: 2px solid #444294;
    display: block;
    width: 100%;
    padding: 6px ;
    color: #444294;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    margin-top: 15px;
}